* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
    border-radius: 4px;
}
body {
    counter-reset: test;
    background-color: #415260;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    transform: translate(5px,5px);
}
::-webkit-scrollbar-track {
    background-color: #444;
}
::-webkit-scrollbar-thumb {
    background-color: #777;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

/*Position main container*/
.main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 94%;
    box-shadow: 0px 0px 10px #444;
    padding: 20px 10px;
    display: grid;
    gap: 0px 20px;
    align-content: flex-start;
    background-color: #fff;
}

/*Divide main container*/
.grid-item1 {grid-area: 1/1 / 1/2;}
.grid-item2 {grid-area: 1/2 / 2/3;}
.grid-item3 {grid-area: 1/3 / 2/4;}
.grid-item4 {grid-area: 2/1 / 3/2;}
.grid-item5 {grid-area: 2/2 / 3/4;}
.grid-item6 {grid-area: 3/1 / 4/4;}
.grid-item7 {grid-area: 4/1 / 5/4;}
.grid-item8 {grid-area: 5/1 / 8/4;}
.grid-item9 {grid-area: 8/1 / 11/4;}
.main-container > div {
    margin: 10px 0;
}

/*Style lists and buttons buttons*/
.list_btn {
    width: 100%;
    height: 30px;
    outline: 0;
    border: 2px royalblue solid;
    transition: box-shadow 0.2s;
}
.list_btn:focus {
    box-shadow: 0px 0px 5px 1px royalblue;
}
.start-scan-btn {
    height: 30px;
    width: 50%;
    border: 2px royalblue solid;
    transition: border 0.25s;
    line-height: 0;
}
.start-scan-btn:active {
    transform: scale(0.97, 0.97);
    box-shadow: 0px 0px 5px 1px royalblue;
}

.progress-bar-border {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    border: 1px #aaa solid;
}
.progress-bar {
    width: 0%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: white;
    background-color: #309C21;
    transition: width 0.2s;
}

.best-result-box {
    padding: 5px;
    box-shadow: 0px 5px 15px #888;
}
.result-box {
    padding: 5px;
    border: 1px solid #aaa;
    overflow-y: auto;
}

.copy-btn {
    position: relative;
    border: 0;
    background-image: url(assets/copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.copy-btn:active {
    background-color: #ccc;
}

.copy-btn .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 1;
    transition: opacity 0.2s;
}
.copy-btn:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

table {
    width: 100%;
}
th, td {
    text-align: left;
}
th:last-child {
    text-align: center;
    background-image: url(assets/download.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}
#all-table tr td:first-child::before { /*Numbering IPs*/
    counter-increment: test;
    content: counter(test);
}

@media only screen and (min-width: 600px) {
    .main-container {width: 56%;}
    #search-box {width: 100%;}
}
@media only screen and (min-width: 992px) {
    .main-container {width: 40%;}
    #search-box {width: 100%;}
}